@charset "UTF-8";

a:link, a:visited {
  background-color: #FF8787;
  text-decoration: none;
  text-align : center;
  color : white;
  display: inline-block;
  margin-top : 25px;
  padding : 15px;
  width : 150px 
}

a:hover, a:active {
  background-color : #F96666;
}

input[type=submit]  {
  width: 300px;
  background-color: #4CAF50;
  color: white;
  padding: 10px 18px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover{
	
	background-color : #54B435;
}